*{
   box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}
.gallery-wrapper{
    overflow-x: auto;
    scrollbar-width: none;
    
}
.gallery-wrapper::-webkit-scrollbar{
    display: none;
    
}

.gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrow-left, .arrow-right{
    position: absolute;
    top: 120px;
    left: 0;
    right: auto;
    bottom: 120px;
    font-size: 20px;
    line-height: 0;
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    transition: all 600ms ease-in-out;
    z-index: 999;
}
.arrow-left:hover, .arrow-right:hover{
    background-color: black;

}
.arrow-right{
    left: auto;
    right: 0;
}

.item{
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}
.current-item{
    opacity:1;
}